@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap'); /*Montserrat*/


* {
    margin: 0;
    padding: 0;
}



/* 
==========================
      NAVIGATION BAR
==========================

Notes:
1. I added a navigation bar to put the hamburger as a toggle for the letter.
2. I set the navigation bar to sticky so that it will stick as the user scroll.
3. I set the z-index to 10 so that it will be over all elements.
4. Max-width 1500px is used for the responsiveness, but it is not necessary, It is just my `go-to` max-width.
5. Margin: 0 auto is crucial to center the container inside the navbar class.
6. I used space-between the separate my name (MJBS) and the hamburger.
*/

.navbar {
    background-color: black;

    height: 70px;
    top: 0;

    position: sticky;

    z-index: 10;
}

.container {
    max-width: 1500px;
    margin: 0 auto;

    display: flex;
}

.navbar .flex {
    justify-content: space-between;
}

.flex {
    height: 100%;
    justify-content: center;
    align-items: center;
}
 



/* 
==========================
     NAVIGATION BAR
          NAME
==========================

Notes:
1. 
*/

#Mark {
  color: white;

  font-family: 'Montserrat';
  font-size: 35px;
    
  letter-spacing: 3px;

}

#S {
    color: gold;
    font-family: 'Montserrat';
}

abbr {
    text-decoration: none;
}


/* 
==========================
       HAMBURGER
==========================

Notes:
1. .active is added using Javascript when the hamburger is clicked, the line are rotated to make it look like an X

*/

.hamburger {
    display: block;
}

.hamburger-line {
    width: 25px;
    height: 3px;

    background-color: white;
    margin: 5px 0;
    
    border-radius: 10px;

    transition: 0.7s;
}

.hamburger.active .hamburger-line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .hamburger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}






/* 
==========================
       HAMBURGER
      Descriptors
==========================

Notes:
1. The hamburger is a switch to show the letter.
2. I used bootstrap for the arrow and added a class name "arrow-angle" to overwrite the initial color value.
3. Inner-container is set to flexbox so that its contents are positioned side-by-side.
4. The paragraph is set to inline to place it INLINE before the arrow.

*/


.click {
    display: inline;
    position: relative;

    color: white;
    font-family: 'Montserrat';
    font-size: 15px;

    margin: 0 5px;

    transition: all 0.8s linear;
}

.click.active {
    opacity: 0;
    visibility: hidden;
}

.clickable {
    transition: all 0.8s linear;
}

.clickable.active {
    opacity: 0;
    visibility: hidden;
}

.inner-container {
    display: flex;
}

.arrow-angle {
    color: white;

    font-size: 20px;

    margin-right: 5px;
}

/* 
==========================
       HAMBURGER
        LETTER
==========================

Notes:
1. opacity 0 and visibility are hidden instead of display: none because you cannot put a transition between display:none and display: block; 
   It will only show/dissapear instantly.
2. hr color was set to white, so I overlapped the hr line using border and setting it to black.
*/

#letter {
    opacity: 0;
    visibility: hidden;

    transform: scaleY(0, 1);
    transition: all 1s;
}

#letter.active {
    opacity: 1;

    transform: scaleY(1, 1);
    visibility: visible;
}

hr {
    border: solid 1px black;
}
